<!DOCTYPE html>
<html>
   <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
      <title>Add File's</title>
            <link rel="icon" href="../../img/favicon.png" type="image/x-icon">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../../css/style.css">
      <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
      <style>
body{
font: 400 15px/1.8 Lato, sans-serif;
width: 100%;
height: 100%;
}
strong.intro {
font-size: 20px;
color: #274d5c !important;
text-transform: capitalize;
font-weight: bold !important;
}
.margin{
margin-top: 15% !important;
}
h2.font_2 {
font-size: 18px;
font-weight: bold;
color: #64c9f1 !important;
text-transform: capitalize;
}
p.font_8 {
font-size: 16px;
color: #eef3f5 !important;
}
ul.font_8 li {
margin-left: 40px;
list-style: disc;
}
strong.accept {
font-size: 20px;
}
span.font_8 {
font-size: 20px;
font-weight: bold;
}
strong.accept1 {
font-size: 20px;
font-weight: bold;
}
.card{
background: url("../../img/truso_bg1.png");
border-radius: 3px !important;
padding: 20px;
margin-bottom: 2% !important;
box-shadow: 0 0 10px rgb(247, 78, 11), 0 0 10px rgb(247, 78, 11), 0 0 10px rgb(247, 78, 11);
}
</style>
   </head>
<body>
   <section class="trsuing">
      <div class="container">
         <a href="/">
            <div class="logo">
               <img src="../../img/Truso_logo.png">
            </div>
         </a>
      </div>
      {{!-- {{#if data}} --}}
   </section>
   <section class="untree_co-hero1">
         <div class="main-content">
      <div class="container">
         
         <div class="card col-lg-6 m-auto" style="margin-top: 2% !important">
            <header class="text-center text-white" style="font-size: 30px;letter-spacing: 2px;font-weight: bold;">Add File</header>
         <br>
         <div class="row pl-3">
            <div class="col-lg-12">
                  <div class="headsss">
                     <form class="form-group card-text  pt-2" action="/admin/addFile" method="POST" enctype="multipart/form-data">
                           <div class="mb-3">
                              <div class="form-row">
                                 <div class="form-group col-md-12 col-sm-12 mb-3">
                                    <input type="file" class="form-control" required name="image" accept=".doc,.docx,.pdf,.xls,.csv">
                                 </div>
                              </div>
                              {{#if msg}}
                                 <label class="text-warning"><b>{{msg}}</b></label>
                              {{/if}}
                              {{#if folderid}}
                              <input type="hidden" value="{{folderid}}" name="folderid">
                              {{/if}}
                           </div>
                           <div class="mt-2">
                              <button type="submit" class="btn btn-lg text-white" style="background-color: rgb(247, 78, 11) !important;"><span style="font-size: 20px;"><i class="far fa-folder-plus"></i></span></button>
                           </div>
                     </form>
                  </div>
            </div>
         </div>
         </div>
   </div>
      </div>
   </section>
   {{!-- {{/if}} --}}
   <footer id="footer" class="footer-area">
      <div class="footer-widget">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-6">
                  <div class="imgs">
                     &nbsp;<img src="../../img/app_screen.png" style="width:55%">
                     <h6 class="footer-title1">A true social network based on video.</h6>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="footer-link">
                     <h6 class="footer-title">Things To Know</h6>
                     <ul class="user-list">
                        <li class="listing"><a href="/terms">Terms & Conditions</a></li>
                        <li class="listing"><a href="/privacy" class="plicy">Privacy Policy</a></li>
                        <li class="listing"><a href="/guide">Guidelines</a></li>
                        <li class="listing"><a href="/press">Press</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="footer-link">
                     <h6 class="footer-title">Get Connected!</h6>
                     <h6 class="footer-titles">help@jointruso.com</h6>
                     <ul class="olisted">
                        <li><a href="https://www.facebook.com/truso.app.7"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                     <li><a href="https://twitter.com/jointruso/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                     <li><a href="https://www.instagram.com/jointruso/"><i class="fab fa-instagram" aria-hidden="true"></i></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="rights-rsvd">
                     <p>All Right Reserved @ Copyright 2021</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</body>
</html>