<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    
    <title>showFiles</title>
</head>
<style>
    body{
        font: 400 15px/1.8 Lato, sans-serif;
        background-image: url("../../img/truso_bg.png");
        width: 100%;
        height: 100%;
    }
    .card{
        background: transparent;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        border-radius: 5px !important;
        box-shadow: 0 0 5px rgb(247, 78, 11), 0 0 5px rgb(247, 78, 11), 0 0 5px rgb(247, 78, 11);
    }
    .card-title{
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 2px;
        transition-duration: 0.5s;
    }
</style>
<body>
    <div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumb-->
        <div class="row pt-2 pb-2">
            <div class="logo">
                <img src="../../img/Truso_logo.png" style="width: 80%; margin-top:10px">
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-sm-9">
                <h4 class="page-title mt-5 text-white" style="letter-spacing: 2px;"><b>File's List</b></h4>
                <b>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashbord"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item " style="color:rgb(247, 145, 12);" aria-current="page">View All Files</li>
                    </ol>
                </b>
            </div>
            <div class="col-lg-12">
                {{#if folderid }}
                <input type="text" name="folderid"id="folderid" value="{{folderid}}" hidden>
                {{/if }}
                <div class="card">
                    <div class="card-body ">
                        {{#if folderName}}
                        <div class="card-title"><b>View All "{{folderName}}" Files</b></div>
                        {{/if}}
                        <hr>
                        <table id="transaction_datatable" class="table table-bordered col-lg-11">
                            <thead class="text-white text-center" style="letter-spacing: 2px;">
                                <tr>
                                    <th>Sno.</th>
                                    <th>filename</th>
                                    <th>name</th>
                                    <th>type</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.dataTable.ext.errMode = 'none';
        $('#transaction_datatable').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "bPaginate": false, // to remove pagination
            "bLengthChange": false,
            "bInfo": false, // to remove the 'show # to # of # entries' line
            ajax: {
                url: `/admin/file_datatable/${document.getElementById("folderid").value}`,
                type: 'GET',
            },
            "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
            "buttons": [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print'
                    ]
                }
            ],
            columns: [
                {data: 'id'},
                {data: 'filename'},
                {data: 'name'},
                {data: 'type'},
                {data: 'action'},
            ]
        });
    });
</script>
</html>